* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    height: 60px;
    width: 100%;
    background: red;
    padding: 10px;
    display: flex;
}