* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    height: 60px;
    width: 100%;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    font-size: 25px;
    display: flex;
}

header div.name {
    margin: 10px 20px;
    flex: 1 0 auto;
    font-weight: bold;
}

div.navigation {
    height: 100%;
}

div.navigation ul {
    height: 100%;
    list-style: none;
    display: flex;
}

div.navigation li {
    background: rgba(14, 70, 255, 0.548);
    transition: 0.1s ease-in-out background;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-weight: 200;
    padding: 0 10px;
}

div.navigation ul li a {
    text-decoration: none;
    color: white;
}

div.navigation li:hover {
    background: rgba(14, 70, 255, 0.75);
}

main {
    height: calc(100vh - 60px);
    width: 100%;
    background: #bbb;
    display: flex;
    justify-content: center;
    align-items: center;
}

main div.left {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main div.left p {
    text-align: center;
    font-size: 24px;
}

main div.left h1#nameText {
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    transition-delay: 0.5s;
    font-size: 64px;
}


main div.right {
    width: 60%;
    height: 100%;
}