* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

:root {
    --nameFlex: 1;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #55a8ff 0%, #ff00ff 100%);
    overflow: hidden;
}

p {
    font-size: 36px;
}

header {
    position: absolute;
    height: 60px;
    width: 100%;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    font-size: 25px;
    display: flex;
    z-index: 6;
    animation-timing-function: cubic-bezier(.95,.05,.8,.04) !important;
}

ion-icon {
    filter: drop-shadow(0px 0px 2px black);
}

ion-icon:hover {
    scale: 1.1;
}

header div.name {
    margin: 10px 20px;
    flex-grow: var(--nameFlex);
    font-weight: bold;
}

div.navigation {
    height: 100%;
}

div.navigation ul {
    height: 100%;
    list-style: none;
    display: flex;
}

div.navigation li {
    background: #da5b92;
    transition: 0.1s ease-in-out background;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-weight: 200;
    padding: 0 10px;
}

div.navigation ul li a {
    text-decoration: none;
    color: white;
}

div.navigation li:hover {
    background: #8b3f60;
}

main {
    min-height: 100vh;
    overflow: hidden scroll;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    transition: background 0.2s ease-in-out;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}

#skipIntro {
    z-index: 4;
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 45px;
    font-size: 20px;
    background: linear-gradient(135deg, #da5b92 0%, #d1842d 100%);
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

div#conversation {
    pointer-events: none;
    padding: 70px 40px;
    width: 100%;
    height: 100%;

    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

main div.alignLeft {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    width: 100%;
    display: flex;
    flex-direction: row;
}

main div.alignRight {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}


main div.alignLeft h1 {
    font-size: 64px;
    filter: drop-shadow(0px 0px 2px black);
    -webkit-text-stroke: 3px black;
    background: linear-gradient(135deg, #55a8ff 0%, #ff00ff 100%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main div.alignRight h1 {
    font-size: 64px;
    color: white;
    filter: drop-shadow(0px 0px 2px white);
}

#convo4 {
    opacity: 1;
}

#convo-dot1, #convo-dot2, #convo-dot3 {
    opacity: 0;
}

div.section {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 80px;
    background: #85858552;
    padding-bottom: 20px;
}

div#beginning {
    padding-top: 140px;
    height: 400px;
}

div.section div.bgsplit {
    pointer-events: none;
    position: absolute;
    bottom: -192px;
    left: 0;
    width: 100%;
    height: 192px;
    transform: rotate(0) scaleX(-1);
}

div.section div.bgsplit.top {
    position: absolute;
    top: -192px;
    left: 0;
    width: 100%;
    height: 192px;
    transform: rotate(0) scaleX(-1);
}

h1 {
    font-size: 120px;
    filter: drop-shadow(0px 0px 2px black);
    -webkit-text-stroke: 3px black;
    background: linear-gradient(135deg, #da5b92 0%, #d1842d 100%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div.section:not(:first-of-type) {
    background: transparent;
    margin-top: 192px;
}

div.bgsplit.top {
    position: absolute;
    top: -192px;
    left: 0;
    width: 100%;
    height: 192px;
    transform: rotate(0) scaleX(-1);
}

div.portfolio {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

div#webCarouselInner,
div#gameCarouselInner,
div#appCarouselInner {
    margin: 5% 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

div.carouselImage {
    pointer-events: none;
    opacity: 0.5;
    color: white;
    margin: 0px 15px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.carouselImage a {
    text-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
    color: white;
    margin-top: 15px;
    font-size: 20px;
}

div.carouselImage img {
    transition: scale 0.2s ease-in-out;
    scale: 1;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px white;
    border: 3px solid white;
    margin-bottom: 10px;
}

div.carouselImage.active {
    margin: 0 !important;
    pointer-events: all !important;
    z-index: 2;
    opacity: 1 !important;
    width: 100% !important;
    position: absolute;
    backdrop-filter: blur(5px);
    padding-top: 30px;
}

div.carouselImage.active img {
    scale: 1.1 !important;
    width: 35% !important;
}

div.carouselImage.active a {
    font-size: 30px !important;
}

div.bgsplit {
}

div.carouselButtons {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}

div.carouselButtons button {
    filter: brightness(1);
    transition: filter 0.2s ease-in-out;
    background: linear-gradient(135deg, #da5b92 0%, #d1842d 100%);
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: xx-large;
    padding: 0px 40px;
}

div.carouselButtons button:hover {
    filter: brightness(0.5);
}

@font-face {
	font-family: 'Retron2000';
	src: url(../fonts/Retron2000.ttf);
}

div#terminal {
    padding: 30px;
    animation: scanlines infinite 55s linear;
    cursor: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
	font-family: 'Retron2000';
    position: absolute;
	user-select: none;
	width: 100%;
	height: 100%;
    background: linear-gradient(to top, #000000, #000000, #333333, #333333);
    background-size: cover;
    background-size: 100% 5px;
	border-radius: 5px;
	color: white;
	font-size: 30px;
    overflow: scroll;
    z-index: 30;
    box-shadow:
      inset 0 0 18rem black,
      inset 0 0 3rem black,
      0 0 10rem black;
}

div#terminal div#overText {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow:
      inset 0 0 18rem black,
      inset 0 0 3rem black,
      0 0 10rem black;
    z-index: 5;
}

div#terminal span#text {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    color: #00ff00;
    text-shadow: 0px 0px 3px #00ff00;
	font-family: 'Retron2000';
	word-wrap: anywhere;
	display: inline;
}

div#terminal span#text * {
	font-family: 'Retron2000';
    color: #00ff00;
    text-shadow: 0px 0px 3px #00ff00;
}

p#marker {
	font-family: 'Retron2000';
	opacity: 1;
	display: inline;
}

@keyframes scanlines {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 0 -10px;
    }
  }